<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="BITRSS" connectionString="Data Source=[DB_HOST];Initial Catalog=[DB_NAME];User ID=[DB_USER];Password=[DB_PASSWORD];" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- Web.Config Configuration File -->

    <system.web>
      <customErrors mode="RemoteOnly"/>
    </system.web>

</configuration>